<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./css/style.css" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/main.js"></script>
        <title>Fake Store</title>
    </head>
    <body>
        <div id="app">
            <header class="header">
                <section class="logo">
                    <img src="./img/logo.png" alt="Logo" />
                    <h1>Fake Store</h1>
                </section>
                <section class="menu">
                    <nav>
                        <ul>
                            <li><a @click="mostrarTodo">Todos los productos</a></li>
                            <li v-for="categoria in categorias">
                                <a @click="mostrarPorCategoria(categoria)"> {{ categoria}}</a>
                            </li>
                        </ul>
                    </nav>
                </section>
                <section class="cart-login">
                    <div v-if="sesionActiva">
                        <span>Bienvenido, {{ usuario }}</span>
                        <button @click="cerrarSesion" class="btn">Cerrar Sesión</button>
                    </div>
                    <div v-else>
                        <button @click="abrirModal('Iniciar Sesion')" class="btn">Iniciar Sesion</button>
                        <button @click="abrirModal('Registrarse')" class="btn">Registrarse</button>
                    </div>
                    <button @click="toggleCarrito" class="btn" v-if="carrito.length > 0">
                        Carrito artículos: {{ cantidadArticulos }}
                    </button>
                    <button @click="toggleCarrito" class="btn" v-else>Carrito</button>
                </section>
            </header>
            <section class="filtrar">
                <h3>Ordenar por:</h3>
                <select @change="cambiarFiltro($event.target.value)">
                    <option value="precio">precio</option>
                    <option value="votos">votos</option>
                    <option value="titulo">titulo</option>
                </select>
                <select @change="cambiarOrden($event.target.value)">
                    <option value="ascendente">ascendente</option>
                    <option value="descendente">descendente</option>
                </select>
            </section>

            <transition name="fade">
                <section id="cart" v-if="mostrarCarrito">
                    <button @click="mostrarCarrito = false" class="btn-cerrar">X</button>
                    <h2>Carrito Total {{ total.toFixed(2) }}</h2>
                    <div v-for="(producto, index) in carrito" v-bind:key="producto.id" class="producto">
                        <img v-if="producto.image" :src="producto.image" />
                        <div>
                            <h3 v-if="producto.title">{{ producto.title }}</h3>
                            <p v-if="producto.price" class="precio"><b>Precio:</b> {{ producto.price.toFixed(2) }}</p>
                            <p><b>Cantidad:</b> {{ producto.quantity }}</p>
                            <p><b>Total:</b> {{ producto.total.toFixed(2) }}</p>
                        </div>
                        <div>
                            <button @click="aumentarCantidad(index)" class="btn">+</button>
                            <button @click="reducirCantidad(index)" class="btn">-</button>
                            <button @click="eliminarDelCarrito(index)" class="btn">Eliminar</button>
                        </div>
                    </div>
                    <button v-if="sesionActiva" @click="pagar" class="btn">Pagar</button>
                </section>
            </transition>
            <main class="main">
                <div
                    v-for="producto in productosMostrados"
                    v-bind:key="producto.id"
                    @click="productSeleccionado = producto"
                    class="producto"
                >
                    <img v-if="producto.image" :src="producto.image" />
                    <h3 v-if="producto.title">{{ producto.title }}</h3>
                    <p v-if="producto.category" class="categoria"><b>Categoría:</b> {{ producto.category }}</p>
                    <p v-if="producto.price" class="precio"><b>Precio:</b> {{ producto.price }}</p>
                    <p v-if="producto.rating" class="rating"><b>Calificación:</b> {{ producto.rating.rate }}</p>
                    <button @click.stop="agregarAlCarrito(producto)" class="btn">Añadir</button>
                </div>

                <div v-if="productSeleccionado" class="modal" @click="productSeleccionado = null">
                    <div class="modal-content producto" @click.stop>
                        <img v-if="productSeleccionado.image" :src="productSeleccionado.image" />
                        <h3 v-if="productSeleccionado.title">{{ productSeleccionado.title }}</h3>
                        <p v-if="productSeleccionado.category" class="categoria">
                            <b>Categoría:</b> {{ productSeleccionado.category }}
                        </p>
                        <p v-if="productSeleccionado.price" class="precio">
                            <b>Precio:</b> {{ productSeleccionado.price }}
                        </p>
                        <p v-if="productSeleccionado.rating" class="rating">
                            <b>Calificación:</b> {{ productSeleccionado.rating.rate }}
                        </p>
                        <p v-if="productSeleccionado.description">{{ productSeleccionado.description }}</p>
                    </div>
                </div>

                <div v-if="mostrarModal" class="modal">
                    <div class="modal-content">
                        <button @click="mostrarModal = false" class="btn-cerrar">X</button>

                        <form v-if="modalContent === 'Iniciar Sesion'" @submit.prevent="iniciarSesion">
                            <label for="nombreusuario">Nombre de usuario:</label>
                            <input type="text" id="nombreusuario" v-model="nombreusuario" />

                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" v-model="password" />

                            <button type="submit" class="btn">Iniciar Sesión</button>
                        </form>

                        <form v-if="modalContent === 'Registrarse'" @submit.prevent="registrarse">
                            <label for="nuevo-usuario">Nombre de usuario:</label>
                            <input type="text" id="nuevo-usuario" v-model="nombreusuario" />

                            <label for="new-password">Contraseña:</label>
                            <input type="password" id="new-password" v-model="password" />

                            <button type="submit" class="btn">Registrarse</button>
                        </form>
                    </div>
                </div>
            </main>
            <footer class="footer">Pie de página</footer>
        </div>
    </body>
</html>
